body, html {
    margin: 0;
}

.main-list {
    
}

.nav {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    width:120px;
    height: 70px;
    list-style: none;
}


.navlinks {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:120px;
    height: 70px;
}
.navlis:hover {
    height: 70px;
    width: 120px;
    background-color: rgb(102, 102, 102);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.back-button {
    border: 1px solid black;
    background-color:lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;;
    box-shadow: 1px 3px 3px black;
    margin-left: 35px;
}

.back-link {
    text-decoration: none;
    color: black;
}

.content {
    margin-left: 35px;
}

.notes-button {
    width: 120px;
    height: 50px;
    background-color: lightblue;
    border:1px solid black;
    box-shadow: 1px 3px 3px black;

    display:flex;
    justify-content: center;
    align-items: center;
}

.notes-button a {
    text-decoration: none;
    color: black;
}

.notes {
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
}

.notes ul li {
    width: 1500px;
}

.todolist-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.task-list {
    width: 350px;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}

.delete-task {
    width: 30px;
    height: 30px;
}

.delete-task img {
    width: 20px;
}

.checkbox {
    width: 25px;
    height: 25px;
}

.task-name {
    width: 270px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    font-size: 22px;
}

.done {
    text-decoration: line-through;
}

input[type="checkbox"] {
    display: none;
  }

  .check::before {
    content: 'X';
    font-size: 20px;
    display: none;
  }
  
  .done .check::before {
    display: inline;
  }
  .check {
    width: 30px;
    height: 30px;
    border: 3px solid #333;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .delete-task {
      background-image: url(./todoList/img/bin.png);
      background-size: contain;
      margin-top: 4px;
  }

  .task-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 350px;
    align-items:center;
  }

  .pokemon-card {
      border: 2px solid black;
      padding: 5px 24px 34px 10px;
      width: 175px;
      border-radius: 5px;
      background-color: wheat;
  }

  #pokemon-name {
      text-transform: uppercase;
  }

  .error {
        color: red;
  }

  input:invalid {
      border: 2px solid red;
  }